* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar {
  width: 15%;
  max-width: 225px;
  height: 100%;
  border: 1px solid black;
}
.main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  height: 75px;
  border: 1px solid black;
}
.main_content {
  width: 100%;
  max-width: 1440px;
  flex: 1;
  border: 1px solid black;
}
