* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar {
  width: 15%;
  max-width: 225px;
  height: 100%;
  border-radius: 2px solid #f2f6fa;
}
.main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  height: 90px;
  border-bottom: 2px solid #f2f6fa;
}
.main_content {
  width: 100%;
  flex: 1;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 1rem 0rem;
}
